/Java/Leccion1/HolaMundoGit/nbproject/private/
/Java/Leccion1/HolaMundoGit/build/
/Java/Leccion1/Ejercicio_1/nbproject/private/
/Java/Leccion1/Ejercicio_1/build/
/Java/Leccion1/Ejercicio_2/nbproject/private/
/Java/Leccion1/Ejercicio_2/build/
/Java/Leccion1/Ejercicio3/nbproject/private/
/Java/Leccion1/Ejercicio3/build/
/Java/Leccion1/Ejercicio4/nbproject/private/
/Java/Leccion1/Ejercicio4/build/
